*, *::after, *::before {
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    background: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    color: #c1c1c1;
    background-attachment: fixed;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-list {
    height: 80px;
    background: rgba(0, 0, 0, .75);
    box-shadow: 0px 0px 5px #606060;
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #c1c1c1;
    font-weight:900;
    font-size: 18px;
    transition: transform .4s;
}

li a:hover {
    transform: translateY(-30%);
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fill, minmax(350px, 700px));
    grid-auto-rows: 150px;
    justify-content: center;
    align-content: center;
    margin: 10px;
    row-gap: 80px;
    column-gap: 80px;
    animation: fadeIn 1s;
}

.menu div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, .50);
    box-shadow: 0px 0px 8px #606060;
}

.menu img {
    width: 95px;
    height: 95px;
}

.description {
    width: 400px;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 1000px;
    padding-top: 40px;
    cursor: default;
    background-color: rgba(0, 0, 0, .50);
    box-shadow: 0px 0px 2px #606060;
    animation: fadeIn 1s;
}

.homepage p {
    width: 800px;
    font-size: 20px;
    text-align: center;
}

.homepage h1 {
    font-weight: bolder;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    height: 700px;
    width: 850px;
    cursor: default;
    background-color: rgba(0, 0, 0, .50);
    box-shadow: 0px 0px 2px #606060;
    animation: fadeIn 1s;
}

.contactDiv {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-start;
}

.contactDiv img {
    height: 32px;
    width: 32px;
    margin: 10px;
}

#mailForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 250px;
    margin: 10px;
}

#mail {
    font-size: 28px;
}

#mailImg {
    height: 64px;
    width: 64px;
}

#name, #email {
    display: flex;
    align-items: center;
    width: 450px;
    height: 30px;
    padding-left: 5px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, .50);
    color: #c1c1c1;
    box-shadow: 0px 0px 2px #606060;
}

#message {
    display: flex;
    word-wrap: break-word;
    word-break: break-all;
    padding-bottom: 70px;
    width: 450px;
    height: 100px;
    text-align: start;
    padding-left: 5px;
    padding-top: 5px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, .50);
    color: #c1c1c1;
    box-shadow: 0px 0px 2px #606060;
}

#submitBtn {
    display:inline-block;
    padding:0.35em 1.2em;
    border: 1px solid #606060;
    background: rgba(0, 0, 0, .30);
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: #c1c1c1;
    text-align:center;
    transition: all 0.5s;
    margin: 10px;
}

#submitBtn:hover {
    background-color: rgba(0, 0, 0, .80);
    box-shadow: 0 0 5px #606060;
    border-color: #c0c0c0;
    cursor: pointer;
}

.footer {
    background: rgba(0, 0, 0, .75);
    box-shadow: 0px 0px 3px #606060;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p, i, a {
    text-decoration: none;
    color: #c1c1c1;
    cursor:default;
    padding-right: 5px;
}

.footer i:hover {
    cursor: pointer;
    color: #fcb971;
    transition: .5s;
}

